
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        maaf anda tidak berhak mengakses halaman ini
    </div>
</body>
</html>
